body{
  background-image: url("genericImages/circuit.jpg");
  padding: 0;
  margin: 0;
}
#navbar{
  display: block;
  text-align: right;
  position: fixed;
  top: -1em;
  width: 100%;
}
.bg-dark{
  background-color: black;
  color: white;
}
.bg-white{
  background-color: white;
}
.text-red{
  color: red;
}
.text-blue{
  color: cyan;
}
.text-green{
  color: green;
}
.outline{
  outline-width: 2px;
  outline-style: solid;
  padding: 5px;
}
.img-fluid{
  width: 100%;
  max-height: 100%;
}
.center{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}
.border{
  border-style: solid;
  border-width: 5px;
}
#overview{
  text-align: center;
  padding-top: 1em
}
.text-yellow{
  color: gold;
}
hr{
  border: 3px solid #999;
  border-radius: 5px;
}
#my-name{
  text-shadow: 2px 2px #ffffff;
  color: crimson;
  font-size: x-large;
}
.container{
  width: 80%;
  margin: auto;
}
.nav-item{
  all: unset;
}
ul li{
  background: #333;
  margin: 5px;
  border: 1px solid #ddd;
  text-align: center;
  width: 28%;
  margin-left: 360px;
  color: white
}
ul{
  list-style-type: none;
  padding: 10px;
  margin: 0px;
}
a{
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
a:hover{
  color: red;
}
.title{
  font-family: 'Sigmar One';
  font-size: 60px;
  text-align: center;
  padding-top: 1em;
}
.subtitle{
  color: gold;
  font-style: italic;
  text-align: center;
  display: block;
  font-family: 'Roboto Mono';
  font-size: 24px;
  font-weight: bold;
}
.small-title{
  color: orange;
  font-family: 'Muli';
}
.paragraph{
  font-family: 'Inconsolata'
}
