.background{
  background-image: url("./Images/field.jpg");
  min-height: 105vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}
img{
  position: relative;
  top: 7.5px;
}
.bg-dark{
  background-color: black;
  color: white;
}
#getUp{
  position: relative;
  top: -5px;
}
.button{
  margin-top: 30px;
  margin-bottom: 0px;
}
.center{
  text-align: center;
}
.name{
  margin-left:155px;
}
.strength{
  margin-right: 25px;
}
.magic{
  margin-right: 10px;
}
#nameError{
  visibility: hidden;
  color: red;
}
body{
  margin: 0px;
  padding: 0px;
}
.magic{
  color: white;
}

.strength{
  color: white;
}


.nameText{
  color: white;
}

#pointsError{
  color: red;
  visibility: hidden;
}
#navbar{
  display: block;
  text-align: right;
  position: fixed;
  width: 100%;
}
.nav-item{
  all: unset;
  width: 28%;
  padding-top: 30px;
}
.title{
  padding-top: 40px;
}
a{
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
a:hover{
  color: red;
}
