#website-title{
  font-size: 100pt;
  color: teal;
  font-family: "Odibee Sans";
}
#navbar-title{
  font-family: "Odibee Sans";
  font-size: 25pt;
}
.nav-item{
  font-family: "Coda Caption";
}
section:before{
  height: 70px;
  content: "";
  display: block;
}
section{
  min-height: 100vh;
}

$cards-per-line: (
    xs: 1,
    sm: 2,
    md: 3,
    lg: 4,
    xl: 5
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$grid-gutter-width: 30px !default;

@each $name, $breakpoint in $grid-breakpoints {
	@media (min-width: $breakpoint) {
		.card-deck .card {
			flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
		}
	}
}
